{% if globals.isDev %}
<script type="module" src="{{ globals.viteHost }}@vite/client"></script>
<script
	type="module"
	src="{{ globals.viteHost }}/{{ globals.viteEntry }}.ts"
></script>
{% else %}
<script type="module" crossorigin src="{{ globals.js }}"></script>
{% for preload in globals.preloads %}
<link rel="modulepreload" href="{{ preload }}" />
{% endfor %} {% for css in globals.css %}
<link rel="stylesheet" href="{{ css }}" />
{% endfor %} {% endif %} {% set title = title ?? globals.appName %}
<title>{{ title }}</title>
